*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* buttonにデフォルトでかかっているCSSを無効にする */
button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-size: cover;
}

.consent-column-center {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
}

.aphorism_text {
  height: 50%;
  padding: 12px;
  background-color: white;
  color: #555;
  font-family:
    YuMincho,
    /* Mac用 */
    'Yu Mincho',
    /* Windows用 */
    serif;
  font-size: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.aphorism_pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pager-button {
  /* 一旦仮置きのCSS */
  background-color: #ddd;
  cursor: pointer;
}